/* Añadir estilos generales para centrar contenido */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.text-section {
    max-width: 600px;
}

.button-container {
    margin-top: 20px;
}

.panel-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.panel-button:hover {
    background-color: darkgreen;
}

/* Estilos del header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    margin-right: 10px;
}

/* Estilos para los íconos en el header */
.custom-nav {
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 20px;
}

.custom-nav span, .custom-nav i {
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}

.custom-nav span:hover, .custom-nav i:hover {
    transform: scale(1.2);
    color: rgb(15, 180, 15);
}

/* Estilo para el nombre de usuario y foto */
.profile-container {
    display: flex;
    align-items: center;
}

.profile-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-container span {
    font-size: 18px;
}