* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}

td {
  display: table-cell;
  vertical-align: inherit;
  background: #1ee224;
  text-align: center;
}

.custom-header {
  background: linear-gradient(45deg, rgb(2, 57, 2), rgb(12, 137, 12), rgb(0, 97, 0));
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  
  }

.custom-logo {
position: sticky; 
top: 20px; 
left: 10px; 
width: 100px; 
height: 100px; 
object-fit: contain; 
}
.sidebar {
  width: 250px;
  background: linear-gradient(45deg, rgb(2, 57, 2), rgb(12, 137, 12), rgb(6, 68, 6));
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px 15px;
  border-radius: 5px; /* Agrega bordes redondeados para el efecto visual */
}

.sidebar ul li a:hover {
  background-color: #0a5d0a; /* Color más claro en hover */
  text-decoration: underline;
}

.sidebar ul li a.active {
  background-color: #1a7d1a; /* Color más claro para el botón activo */
}


.content {
  padding: 20px;
  width: calc(100% - 250px);
}

.filters {
  background-color: #e9f7ef;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.filters .form-label {
  font-weight: bold;
}

.filters .form-select, .filters .form-control {
  border-radius: 5px;
}

.table {
  margin-top: 20px;
  width: 100%;
}

.table th, .table td {
  padding: .75rem;
  text-align: center;
}

.table>:not(caption)>*>* {
  padding: .75rem .5rem;
  background-color: #0c490e92;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table-success {
  background: linear-gradient(45deg, rgb(2, 57, 2), rgb(12, 137, 12), rgb(6, 68, 6));
  color: white;
}

.table td select {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
}

.btn-success {
  background: linear-gradient(45deg, rgb(2, 57, 2), rgb(12, 137, 12), rgb(6, 68, 6));
  border: none;
  border-radius: 5px;
}

.btn-success:hover {
  background: linear-gradient(45deg, rgb(2, 57, 2), rgb(12, 137, 12), rgb(6, 68, 6));
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
}

.btn-primary:hover {
  background-color: #0056b3;
}
